#!/bin/sh

# Este archivo fue generado a partir de un template.
# Si se vuelve a ejecutar el script que lo hizo, se
# sobreescribirán los cambios que hagas.
# Si quieres hacer algún cambio, probablemente prefieras
# que sea en dicho script.
#
# Fecha de generación: {{ ansible_date_time.date }}.

date
uptime
free -h
